
<footer id="footer" class="footer">
  <div class="footer-container-1">
    <div class="block block1">
      <span class="block1-text">

        You can be the first one to know about our new releases, latest offers and more. Sign up now!</span>
      <div class="block1-1">
        <input type="email" placeholder="E-Mail">
        <button class="button">SUBSCRIBE</button>
      </div>
  
    </div>
  
    <div class="block block2">
      <table class="styled-table">
        <thead>
          <tr class="row1">
            <th>INFORMATION</th>
            <th>OUR SOCIAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/shop">SHOP</a></td>
            <td><a href="https://www.facebook.com/profile.php?id=61563241165986" target="_blank">FACEBOOK</a></td>
            <td><a href="/InfoPages/privacy.html" target="_blank">Terms and Conditions</a></td>
          </tr>
          <tr>
            <td><a href="/InfoPages/about.html" target="_blank">INFO</a></td>
            <td><a href="https://www.instagram.com/planb_clo?igsh=MTJmZ2ZmaGc5cGk1dQ%3D%3D&utm_source=qr" target="_blank">INSTAGRAM</a></td>
            <td><a href="/InfoPages/privacy.html" target="_blank">Privacy Policy</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="mailto:planbclo.2024@gmail.com" target="_blank">E-MAIL</a></td>
            <td><a href="/InfoPages/refunds.html" target="_blank">Refunds/Cancellations</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https:/wa.me/917901903473" target="_blank">WHATSAPP</a></td>
            <td><a href="/InfoPages/pricing.html" target="_blank">Pricing</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><a href="/InfoPages/shipping.html" target="_blank">Shipping Policy</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><a href="/InfoPages/contact.html" target="_blank">Contact Us</a></td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>

  <div class="block block3">
    <img src="/media/image/footerimg.png" alt="footimg">
    <span>LET'S CONN</span><span class="black-white1">E</span><span class="black-white2">C</span><span class="black-white3">T</span>
    
      
   

  </div>


  <div class="block block4">
    <p>&copy; 2024 PLAN B CLO. All rights reserved.</p>
  </div>

</footer>


<!-- <script src="/js/main.js"></script> -->
<link rel="stylesheet" href="/css/footer.css">
</body>
</html>