
  <!-- <div id="loading">
    <div class="spinner"></div>
  </div> -->

    <%- include('topbar')%>
    <link rel="stylesheet" href="/css/home.css">


    <!-- <div class="sale-banner-1">
      <p class="sale-banner-1-text" id="bannersalesalesale">SALE SALE SALE</p> -->
      <div id="sale-banner-container"></div>
   
      

    </div>

  
      <div class="media-loop-container">
        <div class="media-item">
            <img src="/media/image/web-pic1.jpg" alt="Image 1">
            <div class="overlay-text">
              <P>Crafted For <BR> CONNOISSEUR</P>
              <a class="ssbtn" href="/shop">SHOP NOW</a>
            </div>
             
        </div>
        <div class="media-item">
            <video src="/media/video/video1.mp4" muted ></video>
            <div class="overlay-text">For Those Who Appreciate the Finest</div>
        </div>
        <div class="media-item">
            <img src="/media/image/web-pic2.jpg" alt="Image 2">
            <div class="overlay-text">Uncompromising Quality</div>
        </div>
        <div class="media-item">
            <video src="/media/video/video2.mp4" muted ></video>
            <div class="overlay-text">Designed for Discerning Tastes</div>
        </div>
        <!-- Add more media items as needed -->
    </div>

    <div class="mobile-media-loop-container">
      
    <div class="mobile-media-item">
      <img src="/media/image/image1.jpg" alt="Image 2">
      <div class="overlay-text">Text for Image 1</div>
  </div>
      <div class="mobile-media-item">
          <video src="/media/video/mobile-video1.mp4" muted ></video>
          <!-- <video src="/media/video/video1.mp4" muted ></video> -->
          <div class="overlay-text">Text for Image 2</div>
      </div>
      <div class="mobile-media-item">
          <img src="/media/image/image2.jpg" alt="Image 2">
          <div class="overlay-text">Text for Image 1</div>
      </div>
      <div class="mobile-media-item">
          <video src="/media/video/mobile-video2.mp4" muted ></video>
          <!-- <video src="/media/video/video2.mp4" muted ></video> -->
          <div class="overlay-text">Text for Image 2</div>
      </div>
      <!-- Add more media items as needed -->
  </div>


    <!-- small para -->
    <div class="small-para">
      <p class="small-para-text">100% order tracked</p>
      <p class="small-para-text">hassel free returns</p>
      <p class="small-para-text">free shipping</p>
      
    </div>

    <!-- exclusive banner -->
    <div class="exclusive-banner">
     <img src="/media/image/Banner1.svg" alt="banner1" />
    </div>


    <div class="posters-add">
      <div class="posters-add-1">
        <!-- <img src="/media/image/poster1.svg" alt="poster1" /> -->
      </div>
      <div class="posters-add-2">
        <!-- <img src="/media/image/poster2.svg" alt="poster2" /> -->
      </div>
    </div>

    <script src="/js/script.js"></script>
    

    <!-- Add more sections here -->
    <%- include('footbar')%>
