<nav class="menu">
    <div class="menu-icon" id="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
    <div class="menu-content" id="menu-content">
      <div class="close-icon" id="close-icon">
        <i class="fas fa-times"></i>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/menu.js" defer></script>
  </nav>
  