<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/login-signup.css">
</head>
<body>
    <%- include('topbar') %>
    <%- include('flashmessage') %>

    <div class="container">
        <div class="form-container">
            <form class="form" id="reset-password-form" onsubmit="resetPassword(event)">
                <input type="hidden" id="reset-token" value="<%= token %>">
                <div class="flex-column">
                    <label>New Password</label>
                </div>
                <div class="inputForm">
                    <input type="password" id="reset-password" class="input" placeholder="Enter your new Password" required>
                </div>
                <button type="submit" class="button-submit">Reset Password</button>
            </form>
        </div>
    </div>

    <%- include('footbar') %>
    <script src="/js/login-signup.js"></script>
    <script>
        async function resetPassword(event) {
            event.preventDefault();

            const token = document.getElementById('reset-token').value;
            const password = document.getElementById('reset-password').value;

            try {
                const response = await fetch('/auth/reset-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token, password }),
                });

                const data = await response.json();

                if (response.ok) {
                    alert(data.message);
                    window.location.href = '/';
                } else {
                    displayError(data.error);
                }
            } catch (error) {
                displayError('Failed to reset password. Please try again later.');
                console.error('Error:', error);
            }
        }
    </script>
</body>
</html>
