@font-face {
    font-family: 'reina-nue';
    src: url('/Fonts/reina-neue/ReinaNeueCapitals-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes waveEffect {
    0% {
      transform: scale(0.5);
      opacity: 0.7;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .wave {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 300px;
    height: 300px;
    animation: waveEffect 2s linear infinite;
  }
  
  #logo-animation {
    position: relative;
    /* z-index: 5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    animation: fadeOut 3s forwards;
    animation-delay: 4s;
  }
  #logo-animation img{
    height: 100px;
  }
  
  #main-content {
    display: none;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  #main-content .header{
    /* z-index: 1000; */
  }

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-bottom {
    animation: slideInFromBottom 1.5s ease-out forwards;
  }
  
  .hidden {
    opacity: 1;
    /* z-index: ; */
  }
  

.container{
    display: flex;
    height: min-content;
    width: 100%;
    /* border: 5px double pink; */
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 10px wheat;
    
    
}



.container-1{
    /* flex-wrap: wrap; */
    justify-content: space-between;
    max-height: 1000px;
    margin-bottom: 20%;
    /* justify-content: end; */
    
    

}
.container img{
    border: .5px solid wheat;
    box-shadow:  5px 5px 10px rgb(249, 249, 249);
}


img{
    position: relative;
    object-fit: cover;
    
}
.text{
    color: white;
}

.img1{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    align-items: center;
    justify-content: center;
    
}
.img1-img{
    width: 100%;
    margin-top: 2%;
    


}
.img1-text1{
    font-family: 'Grandiflora One';
    position: absolute;
    /* border: 2px solid white; */
    font-size: 7vw;
    width: max-content;
    overflow: visible;
    text-align: center;
    /* margin-top: 1%; */
    /* top: -50%; */
    /* left: -10%; */
}
.img1-text2{
    font-family: 'Grandiflora One';
    position: relative;
    text-transform: capitalize;
    /* top: -50%; */
}



.img2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid white; */
    margin-top: 7%;
    height: 100%;
    gap: 5vw;
    
    


}
.img2-img{
    height: 30vw;
    max-width: 270px;
}
.circle-text{
    display: flex;
    /* border: 2px solid white; */
    justify-content: end;
    

}
.circle-text1{
    border: 2px solid white;
    width: fit-content;
    padding: 50px;
    margin: 50px;
    border-radius: 50%;
    font-family: 'Grandiflora One';
    font-size: 1.5em;
    margin-left: 150px;
    box-shadow: 
        2px 2px 10px 2px whitesmoke, /* Bottom-right shadow */
        -2px 2px 10px 2px whitesmoke, /* Bottom-left shadow */
        2px -2px 10px 2px whitesmoke, /* Top-right shadow */
        -2px -2px 10px 2px whitesmoke; 
}




.img3{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    align-self: end;
    height: fit-content;
    max-width: 350px;
    font-family: 'Gupter';
    
    
   

}
@media (min-width: 772px) {
    .img3{
        top: 20%;
    }
  }
  
.img3-img{
    height: 30vw;
}


.img2-img,.img1-img,.img3-img{
    object-fit: cover;
}


.container2{
    /* border: 2px solid pink; */
    justify-content: space-between;
    gap: 400px;
    margin-bottom: 7%;
}

.c2-img1{
    display: flex;
    position: absolute;
    margin: 5% 0 0 5% ;
    /* border: 2px solid white; */
    /* width: 100px;/ */
    
}
.c2-img1-img{
    width: 50vw;
    height: 30vw;
}

.c2-img2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    /* border: 2px solid white; */
    margin-top: 20%;
    font-family: 'Gupter';
    margin-left: 1%;

}
.c2-img2-text{
    margin-top: 10%;
    word-spacing: 5px;
    text-align: justify;
}
.c2-img2 img{
    width: 90%;
}

.c2-img3{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    align-items: center;

}
.c2-img3-text{
    position: relative;
    /* border: 2px solid white; */
    font-family: 'reina-nue';
    font-size: 4vw;
    text-align: start;
    top: 5%;
    z-index: 1;
    width: 150%;
    right: 25%;
    text-align: end;
    
    

}
.c2-img3-text2{
    margin-top: 15%;
    margin-right: 15%;
    text-align: end;
    width: 100%;
    /* border: 2px solid white; */
    
}
.c2-img3-img{
    width: 80%;
}
    

.container-3{
    /* border: 2px solid white; */
    /* height: 400px; */
    flex-direction: column;
}

.brand-name{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid white; */
    width: 100%;
    position: relative;
    
}

.brand-name-text{
    font-size: 11vw;
    font-family: 'reina-nue';
    opacity: 70%;

}
.l{
    font-size: 9vw;
    filter: blur(2px);
}
.a{
    font-size: 10vw;
    margin-top: 2%;
}
.n{
    font-size: 7vw;
}
.b{
    font-size: 13vw;
    filter: blur(3px);
}
.c{
    font-size: 8vw;

}
.l2{
    margin-top: 4%;
    filter: blur(1.5px);
}
.o{
    font-size: 13vw;
    filter: blur(.5px);
}


.c3-images{
    display: flex;
    background-color: rgba(0, 0, 0, 0.57);
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex-direction: column; */


}
.c3-img1,.c3-img2,.c3-img3,.c3-img4{
    position: relative;
    height: 1vw;
    height: 50vw;
    width: 40%;
    display: flex;
    /* border: 2px solid gold; */
    margin-left: 3vw;
    
}
.c3-img2,.c3-img4{
    display: flex;
    margin-top: 35vw;
    margin-left: 0;
    /* align-items: end; */
}
.c3-img4{
    margin-top: 25vw;
}
.c3-img1 img,.c3-img2 img,.c3-img3 img{
    position: relative;
    object-fit: contain;
    /* height: 50vw; */
    
}
/* home.css */
/* home.css */
/* home.css */
/* home.css */
/* home.css */
/* home.css */
/* home.css */
/* home.css */
/* home.css */
/* home.css */


.price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20%;
}

.max-price {
    font-size: smaller;
    opacity: 75%;
    text-decoration: line-through;
}





.product-info {
    text-align: center;
    margin-top: 10px;
    color: wheat;
}



/* home.css */
.product-slider {
    overflow: hidden;
    white-space: nowrap;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 5vw;
}

.product-container {
    display: flex;
    transition: transform 0.5s ease;
    gap: 1%;
    height: auto;
}

.product {
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    border: .2px solid wheat;
}

.product img {
    width: 90%;
    height: auto;
    border: .2px solid wheat;
    margin: 3px 5px;
    object-fit: contain;
}

.product.active {
    transform: scale(1);
    opacity: 1;
}

.product-info {
    text-align: center;
    margin-top: 10px;
}
.product:hover{
    opacity: 1;
    transform: scale(1.3);
    height: fit-content;
}

.prod-head-ss{
    width: 100%;
    text-align: center;
    font-size: 5vw;
    color: wheat;
    margin: 8vw 0;
}



/* Make the slider responsive */
@media (max-width: 769px) {
    .product-slider {
        width: 100%;
        overflow-x: scroll;
    }
    .product {
        flex: 0 0 150px; /* Smaller size for mobile */
        margin: 0 5px;
    }
}


@media (max-width: 769px) {
    .img2{
        display: none;
    }
    .img1 img{
        width: 80%;
        height: 50vh;
    }
    .img3{
        
        bottom: 0;
    }
    .container-1{
        height: 70vh;
    }

    .container2{
        /* height: 50vh; */
        flex-direction: column;
        gap: 50px;
    }
    .c2-img1-img {
        width: 80vw;
        height: 50vw;
    }
    .c2-img2{
        position: relative;
        top: 0px;
    }
    .c2-img3-img{
        height: 50vw;
        width: 50vw;
    }
   
  }